/****************************************
*	This is the style sheet of PPLOG	*
*	for mobile devices					*
*	Edit this as you wish.				*
*	Designed by Efia			    	*
****************************************/

body {
	font-size:1em;
	background-image: none;
	width:100%;
	
}

header {
	height:30%;
	background-image: url(m_menu2.jpg);
	background-size: 100%;
	background-color: white;
	background-repeat: no-repeat;
}
h1#header  {
	position:relative;
	top: 0px;
	left: 0px;
	width:90%;
	font-size: 2em;
	font-weight:normal;
	margin-top: 0px;
	margin-left:auto;
    margin-right:auto;
	min-height:10%;
}

div#header  {
	display:none;
	width:100%;
}

div#header  a{
	display:block;
	text-align:center;
	margin-bottom:2%;
	font-size: 1.5em;
	padding:0px;
}

#header ul.menu {margin-left:-7%; width:90%;}
#header .menu li {display:block; text-align:center; float:none;}
#header .menu:hover ul{display:block; position:relative; width:90%; max-height:100%;}

.screen, nav{display:none;}

a#mobile
{
float:none;
display:block;

width:100%;
height:100%;
text-align:center;

text-decoration:none;
font-size: 1.5em;
margin:0px;

}


form, table {
	font-size:1em;
	text-align: left;
	width:90%;
}

 input, button, select, radio {
    /* background-color: white;
	border: 1px outset #6E4C30;*/
	max-width: 100%;
	font-size: 1em;
}

textarea, code {
	display:block;
	max-width: 100%;
	max-height: 100%;
	font-size: 1em;
	}


div#content {
	font-size:1em;
	float: none;
	width:90%;
	padding:0px;
	margin-left:auto;
	margin-right:auto;
	min-height: 100%;
	/* border-left: 1px dashed silver; */
}

#content h1 {

	font-size: 1.5em;
	/*border-bottom: 1px solid silver;*/
	font-weight: normal;
}

#footer {
	font-size: 0.5em;
	padding-top: 1em;
	width:90%;
}




