/****************************************
*	This is the style sheet of PPLOG	*
*	for mobile devices					*
*	Edit this as you wish.				*
*	Designed by Efia			    	*
****************************************/
html{width:100%;}
body {
	font-size:1em;
	background-image: none;
	width:100%;
	margin:0px;
}

/*hide things*/
.screen, nav{display:none;}

header {
	height:auto;
	margin:0px;
	width:100%;
}
h1#header  {	
	float:none;
	font-size: 2em;
	font-weight:normal;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:auto;
    margin-right:auto;
    padding:0.5em;
	min-height:5%;
}

/*mobile menu*/

a#mobile
{
float:none;
display:block;
width:100%;
text-align:center;
text-decoration:none;
font-size: 1.5em;
margin:0px;
}

div#header  {
	display:none;
	width:100%;
	float:none;	
}

div#header  a{
	display:block;
	text-align:center;
	margin-bottom:2%;
	font-size: 1.5em;
	padding:0px;
}

#header ul.menu {margin-left:-7%; width:90%;}
#header .menu li {display:block; text-align:center; float:none; border:none;}
#header .menu:hover ul{display:block; position:relative; width:90%; left:0px; top:0px; max-height:100%;}

form#mobile{display:none;text-align:center; font-size:1.5em; padding:0px; position:relative; left:0px; width:100%;}
form#mobile input[type='submit']{padding:0px; margin-bottom:0.5em; width:90%;}
form#mobile input{padding:5px; width:90%;}
form, table {
	font-size:1em;
	text-align: left;
	width:100%;
}

 input, button, select, radio, input[type='*'], select, label {
	border: 0px solid;
	background-color:none;
	width:90%;
	max-width: 90%;
	font-size: 1em;
	box-shadow:0px 0px 0px #666666 ,
    inset 0px 0px 0px #EEEEEE;
    margin: 0.1em;
	padding: 0.5em;
	font-family:sans-serif;
}

textarea, pre {

	max-width: 95%;
	max-height: 60%;
	font-size: 1em;
	}
textarea#content,  textarea#comContent {width:95%; height:10em;}


div#content {
	font-size:1em;
	float: none;
	width:98%;
	padding:1%;
	margin-left:0pc;
	margin-right:0px;
	min-height: 100%;
}

#content h1 {

	font-size: 1.5em;
	/*border-bottom: 1px solid silver;*/
	font-weight: normal;
}

article{width:100%;}
#footer {
	font-size: 0.5em;
	padding-top: 1em;
	width:90%;
}

.ribbon {display:none;}


