/****************************************
*	This is the style sheet of PPLOG	*
*	Edit this as you wish.				*
*	Designed by Federico Ramírez		*
*	A.K.A fedekun and Efia	    	    *
****************************************/
html{
width: 1093px; 
margin-left:auto;
margin-right:auto;
}

body {
	font-family: "Liberation Sans", "Century Gothic",  "Lucida Sans Unicode","Droid Sans" ,sans-serif;
	font-size: 14px;
	color: #333333;
	background-color: #EEEEEE;
	background-image: url(menu.jpg);
	background-position: 50% 0px;
	background-repeat: no-repeat;
	width: 1091px;
	margin: 0 auto;
	padding:0px;
    }

/*general actions*/
a:hover {font-style:italic; }
*::-moz-selection {background-color:#003300;color: white;}
a#flip {color:#333333;font-weight:bold;}

h1#header {
	color: white;
	font-size: 51px;
	text-transform: capitalize;
	font-weight:normal;
	letter-spacing: 2px;
	text-shadow:0.1em 0.1em 0.2em #666666;
	margin-top: 40px;
	margin-bottom:60px;
	margin-left:0px;
    margin-right:0px;
    padding:30px;
}
/*drop down menu */
div#header{background:#6699CC; width:1091px; margin-left:0px; margin-right:0px; padding-top:11px; padding-bottom:27px; border-bottom:1px outset white; border-top:1px groove #3366CC;}

#header ul.menu {margin:0px; margin-left:-1em; margin-top:-2px;}
#header .menu li {list-style:none; position:relative; float:left; margin:0px; padding-left:5px;padding-right:5px; border-left:1px groove #3366CC;}
#header .drop a {display:block; color:#3366CC ; padding:5px;}
#header .drop li {float:none; background:#EEEEEE;}
#header .drop{display:none; list-style:none;}
#header .menu:hover ul{display:block; position:absolute; width:200px; max-height:300px; margin-top:9px; overflow-y:scroll;}

div#header a {color: white; font-size: 15px; font-variant:small-caps; text-decoration:none; letter-spacing: -1px; padding:5px; padding-bottom:10px;}
div#header a:hover {background-color:#EEEEEE; color:#3366CC; }
/*drop down menu end*/

/*hiding parts for mobile menu*/
a#mobile {font-size:0px;float:right; background:#6699CC; color:white; }
form#mobile, .comment{display:none;text-align:center; font-size:1.5em; padding:0px;}

div#content {
	float:left;
	padding: 30px;
	width: 750px;
	min-height: 600px;
	text-align: justify;
	background-color: white;
}

#content h1, legend {
	font-size: 32px;
	font-weight:normal;
	color: #003300;
	text-transform: capitalize;
	
	margin-bottom: 5px;
	padding: 0px;
}
#content h1 a {color: #003300; 	text-decoration: none;}
#content a, span[text] {
	color: #006600;
	font-weight:none;
	cursor: pointer;
}

#content span:hover::after {
content:attr(text);
position:absolute;
padding:5px;
width:300px;
color:white;
background-color:#006600;
}

#content img {padding: 5px; max-width:700px;}

/* forms*/
form{
	font-size: 14px;
	text-align: left;
	width:100%;
}

fieldset, form p{border:0px; width:100%; margin:0px; margin-top:20px; }

/*input and buttons*/
label{
background-color: #EEEEEE;
padding:6px;
margin-right: 2px;
display:inline-block;
width:28%;
max-width:250px;
}

input, select, div.smilies {	
	font-family: "Liberation Sans", "Century Gothic",  "Lucida Sans Unicode", "Droid Sans" ,sans-serif;
	font-size: 14px;
	width:30%;
	max-width:250px;
	padding: 7px;
	color:#003300;
	margin-right: 2px;
	background-color: #DDDDDD;
	border: 1px solid #777777;
    border-top: 1px solid white;
	border-left: 1px solid white;
    box-shadow:1px 1px 1px #CCCCCC;

}

input[type='button'], div.smilies {
	width:8%;
	margin-right: 12px;
	margin-left:-10px;
 	max-width: 64px;
}

div.smilies{
	display:inline;
	position:absolute;
	padding:0px;
	height:33px;
	overflow:hidden;
	margin-top: 0px;
	margin-left: -6px;
	background-color: #DDDDDD;
}

div.smilies:hover{
width:10%;
height:auto;
max-width: 200px;
position:absolute;
}

input[type='submit']{
	color: white;
	background-color: #003300;
	border: 1px solid #003300;
    border-top: 1px solid #006600;
	border-left: 1px solid #006600;
}
input[type='radio'], input[type='checkbox'] {width:auto;}
input[type='image'].screen {margin-right:47%;}
input#isHTML {width:500px;}
input:hover, button:hover {	border: 2px outset #CCCCCC;}

/*text inputs and fields*/
textarea, pre, input[type='text'], input[type='password']{
	padding: 5px; 
	background-color: #EEEEEE;
	border: 1px inset #CCCCCC;
	color: #333333;
	font-family: serif;
	font-size: 14px;
	box-shadow:inset 1px 1px 1px 1px #CCCCCC;
}

textarea, pre {padding: 10px; overflow: scroll; width:100%;}
textarea#content {height:300px;}
textarea#comContent { height:200px; max-width:550px;}

pre {line-height: 10px; font-family:monospace;}

blockquote::before {
	
	content: "\201C";
	font-size: 40px;
	
}

blockquote
{ 	
	font-family: serif;
	font-size: 16px;
	background-color:#EEEEEE;
	font-style:italic;
	padding:10px;
	padding-top:0px;
}
/*side menu*/
nav  {
	float: right;
	padding:35px;
	width: 210px;
	font-size: 15px;
	letter-spacing: -1px;
	background-color: #EEEEEE;
}

nav h1 {
	color: #003300;
	font-weight:normal;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 16px;
	text-transform: capitalize;
	font-variant:small-caps;
}

nav a {
	display: block;
	color: #333333;
	text-transform: capitalize;
	padding-left: 5px;
	text-decoration: none;
}

/*lightboxes*/
.thumb {height:80px;}
.thumb:hover{ border-width: 1px; border-color:white; border-style:outset;}

input[type='image']{width:auto; background-color:inherit; color: #333333; margin: 2px; padding: 2px;  border: none; box-shadow:0px 0px 0px 0px white;	}
input:focus + .box {width:100%; padding:2%; font-size:14px; height:100%;}
input:focus + .box *{opacity:1;}

.box
{	
	width:0%;
	top:0px;
	left:0px;
	height:0%;
	overflow:hidden;
    position: fixed;
    background: rgba(0,0,0,0.5);
    text-align:center;
    color:white;
    font-size:0%;
}
.box img, .box p {padding:10px;}
.box *:not(h3)
		{
			opacity:0;
			-moz-transition:opacity 2s;
			-o-transition:opacity 2s;
			-webkit-transition:opacity 2s;
			transition:opacity 2s;
			background:white;
			color: #333333;
			text-align:left;
			margin-left:auto;
			margin-right:auto;
			max-width:80%;
			max-height:80%;
			overflow:auto;
			padding: 2px;
		}

		

#footer, footer{
	clear: both;
	width:750px;
	text-align:center;
	font-size: 12px;
	color: #333333;
	padding-top: 15px;
	letter-spacing: 2px;
	text-transform:uppercase;
}

#content #footer {text-align:left;}
#footer a {
	color: #006600;
	text-decoration: none;
	letter-spacing: -1px;
}

@media print {
header, nav, img, form, iframe
{
display:none;
}

div#content{width:100%;}
div#content a, div#content h1 {color:black;}
}

