/****************************************
*	This is the style sheet of PPLOG	*
*	Edit this as you wish.				*
*	Designed by Federico Ramírez		*
*	A.K.A fedekun and Efia	    	    *
****************************************/



body {
	font-family: "Liberation Sans", "Century Gothic",  "Lucida Sans Unicode","Droid Sans" ,sans-serif;
	font-size: 14px;
	color: #4D4D4D;
	background-color: white;
	background-image: url(menu.jpg);
	background-position: 50% 30px;
	background-repeat: no-repeat;
	width: 900px;
	margin-left:auto;
    margin-right:auto;
}

header {
	height: 280px;
}
h1#header {
	color: white;
	font-size: 51px;
	font-weight:normal;
	margin-top: 60px;
	margin-left:auto;
    margin-right:auto;
}

div#header{
	background:white;
	opacity: 0.9;
}
div#header a {
	color: #32619F;
	text-transform: capitalize;
	padding-left:10px;
	padding-right:20px;
	text-decoration:none;
	font-size: 15px;
	letter-spacing: -1px;
}
div#header a:hover {background-color:#32619F; color:white;}

#header ul.menu {margin-left:-4%; }
#header .menu li {list-style:none; position:relative; float:left; background:white; opacity:0.9;}
#header .drop a {display:block; color:white; padding:10px;}
#header .drop li {float:none; background:#32619F;}
#header .drop{display:none; list-style:none;}
#header .menu:hover ul{display:block; position:absolute; width:200px; max-height:300px; overflow-y:scroll;}

a#mobile{font-size:0px;float:right; background:#1D3D0F; color:white;}
form#mobile, .comment{display:none;text-align:center; font-size:1.5em; padding:0px;}

/* forms*/
form{
	font-size: 14px;
	text-align: left;
	width:100%;
}

fieldset, form p{border:0px; width:100%; margin:0px; margin-top:20px; }

/*input and buttons*/
label{
background-color: #EEEEEE;
padding:6px;
margin-right: 2px;
display:inline-block;
width:28%;
max-width:250px;
}

input, select, div.smilies {	
	font-family: "Liberation Sans", "Century Gothic",  "Lucida Sans Unicode", "Droid Sans" ,sans-serif;
	font-size: 14px;
	width:30%;
	max-width:250px;
	padding: 7px;
	color:#003300;
	margin-right: 2px;
	background-color: #DDDDDD;
	border: 1px solid #777777;
    border-top: 1px solid white;
	border-left: 1px solid white;
    box-shadow:1px 1px 1px #CCCCCC;

}

input[type='button'], div.smilies {
	width:8%;
	margin-right: 12px;
	margin-left:-10px;
 	max-width: 64px;
}

div.smilies{
	display:inline;
	position:absolute;
	padding:0px;
	height:33px;
	overflow:hidden;
	margin-top: 0px;
	margin-left: -6px;
	background-color: #DDDDDD;
}

div.smilies:hover{
width:10%;
height:auto;
max-width: 200px;
position:absolute;
}

input[type='submit']{
	color: white;
	background-color: #003300;
	border: 1px solid #003300;
    border-top: 1px solid #006600;
	border-left: 1px solid #006600;
}
input[type='radio'], input[type='checkbox'] {width:auto;}
input[type='image'].screen {margin-right:30%;}
input#isHTML {width:500px;}
input:hover, button:hover {	border: 2px outset #CCCCCC;}

/*text inputs and fields*/
textarea, pre, input[type='text'], input[type='password']{
	padding: 5px; 
	background-color: #EEEEEE;
	border: 1px inset #CCCCCC;
	color: #333333;
	font-family: serif;
	font-size: 14px;
	box-shadow:inset 1px 1px 1px 1px #CCCCCC;
}

textarea, pre {padding: 10px; overflow: scroll; width:100%;}
textarea#content {height:300px;}
textarea#comContent { height:200px; max-width:550px;}

pre {line-height: 10px;}
	
*::-moz-selection {
	background-color:#6E4C30;
	color: white;
}
a#flip {color:#4D4D4D;font-weight:bold;}

nav  {
	float: right;
	margin-top:5px;
	width: 200px;
	letter-spacing: -1px;
	background-color: white;
}

nav h1 {
	color: #1D3D0F;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 16px;
}

nav a {
	display: block;
	color: #4D4D4D;
	text-transform: capitalize;
	padding-left: 5px;
	text-decoration: none;
}

a:hover {font-style:italic; text-shadow:0.3px 0.3px}
.thumb {height:80px;}
.thumb:hover{ border-width: 1px; border-color:white; border-style:outset;}

div#content {
	float: left;
	padding-left: 0px;
	padding-right: 20px;
	padding-top: 0px;
	width: 620px;
	min-height: 600px;
	text-align: justify;
	background-color: white;
	/* border-left: 1px dashed silver; */
}

#content h1, legend {

	font-size: 22px;
	color: #1D3D0F;
	text-transform: capitalize;
	/*border-bottom: 1px solid silver;*/
	margin-bottom: 5px;
	padding: 0px;
	letter-spacing: 2px;
}

#content a, span[text] {
	color: #1D3D0F;
	text-decoration: none;
	font-weight:none;
	cursor: pointer;
}

span:hover::after {
content:attr(text);
position:absolute;
padding:5px;
width:300px;
color:white;
background-color:#1D3D0F;
}

input[type='image']{width:auto; background-color:inherit; color: #333333; margin: 2px; padding: 2px;  border: none; box-shadow:0px 0px 0px 0px white;}
input:focus + .box {width:100%; padding:2%; font-size:14px; height:100%;}
input:focus + .box *{opacity:1;}

.box
{	
	width:0%;
	top:0px;
	left:0px;
	height:0%;
	overflow:hidden;
    position: fixed;
    background: rgba(0,0,0,0.5);
    text-align:center;
    color:white;
    font-size:0px;
}
.box img, .box p {padding:10px;}
.box *:not(h3)
		{
			opacity:0;
			-moz-transition:opacity 2s;
			-o-transition:opacity 2s;
			-webkit-transition:opacity 2s;
			transition:opacity 2s;
			background:white;
			color: #4D4D4D;
			margin-left:auto;
			margin-right:auto;
			max-width:80%;
			max-height:80%;
		}

		
#content img {padding: 5px; max-width:100%;}

#footer, footer{
	clear: both;
	text-align: center;
	font-size: 12px;
	color: #4D4D4D;
	padding-top: 15px;
	letter-spacing: 2px;
}

#footer a {
	color: black;
	text-decoration: none;
	letter-spacing: -1px;
}


@media print {
header, nav, img, form, iframe
{
display:none;
}

div#content{width:100%;}
div#content a, div#content h1 {color:black;}
}

